<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simulation Waiting Room</title>
</head>
<body>
    <form id="sim_options">
        <fieldset id="admin_only_lock"> <!-- Disables the fields, only enabled if user is the admin -->
            <label for="room_type">Room Type:</label>
            <select id="room_type" name="room_type">
                <option value="dutch">Dutch Auction</option>
                <option value="english">English Auction</option>
                <option value="FPSB">First Price Sealed Bid Auction</option>
                <option value="SPSB">Second Price Sealed Bid Auction</option>
                <option value="CDA">Continuous Double Auction</option>
            </select>

            <br>
            <label for="asset">Asset being auctioned:</label>
            <input id="asset" type="text" name="asset">
            <br>
            <label for="time">Countdown length:</label>
            <input id="time" type="number" name="time">
            <br>
            <label for="starting_money">Starting money:</label>
            <input id="starting_money" type="number" name="starting_money">

            <div id="optional_sim_settings">
                <label for="starting_bid">Starting bid:</label>
                <input id="starting_bid" type="number" name="starting_bid">
            </div>

            <input type="submit" value="Submit">
        </fieldset>

        <script>
            function makeid(length) {
                // https://stackoverflow.com/questions/1349404/generate-random-string-characters-in-javascript
                let result = '';
                const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                const charactersLength = characters.length;
                let counter = 0;
                while (counter < length) {
                  result += characters.charAt(Math.floor(Math.random() * charactersLength));
                  counter += 1;
                }
                return result;
            }

            function nthIndex(str, pat, n){
                // https://stackoverflow.com/questions/14480345/how-to-get-the-nth-occurrence-in-a-string
                var L= str.length, i= -1;
                while(n-- && i++<L){
                    i= str.indexOf(pat, i);
                    if (i < 0) break;
                }
                return i;
            }

            document.getElementById("room_type").addEventListener("change",
                function() {
                    const parent = document.getElementById("optional_sim_settings");
                    const val = document.getElementById("room_type").value;

                    if (val == "dutch") {
                        parent.innerHTML = `
                            <label for="starting_bid">Starting bid:</label>
                            <input id="starting_bid" type="number" name="starting_bid">
                        `;
                    } else if (val == "english") {
                        parent.innerHTML = `
                        `;
                    } else if (val == "FPSB") {
                        parent.innerHTML = `
                        `;
                    } else if (val == "SPSB") {
                        parent.innerHTML = `
                        `;
                    } else if (val == "CDA") {
                        parent.innerHTML = `
                        `;
                    }
                }
            );

            document.getElementById("sim_options").addEventListener("submit",
                function(event) {
                    event.preventDefault();

                    let asset = document.getElementById("asset").value;
                    let room_type = document.getElementById("room_type").value;
                    let time = document.getElementById("time").value;
                    let starting_money = document.getElementById("starting_money").value;

                    // window.location.href = window.location.href.substring(0, nthIndex(window.location.href, "/", 3) + 1) + makeid(5);
                    window.location.href = "http://127.0.0.1:8000/" + makeid(5) + "/?room_type=" + room_type + "&asset=" + asset + "&time=" + time + "&starting_money=" + starting_money;
                }
            );

        </script>
    </form>


</body>
</html>