<!--
    The english auction's simulation page
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>English Simulation</title>
    <style>
        #bid_history {
            border: 1px solid #ccc;
            padding: 10px;
            background-color: #f9f9f9;
        }

        #bid_history div {
            margin-bottom: 10px;
            padding: 8px;
            background-color: #e6e6e6;
            border-radius: 4px;
            word-wrap: break-word;
        }

        #id_message_send_input {
            width: 90vw;
            height: 80px;
            padding: 15px;
            margin: 10px auto;
            box-sizing: border-box;
            display: block;
            font-size: 1.2em;
            font-family: Arial, sans-serif;
        }

        #id_message_send_input:focus {
            border-color: #007BFF;
            outline: none;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

        button {
            width: 30%;
            height: 40px;
        }
    </style>
</head>
<body>
    <center>
        <h1>Auction Type: English</h1>
        <h1>Your username is {{request.session.username}}</h1>
    </center>
    <br>
    <div
      class="chat__item__container"
      id="id_chat_item_container"
      style="font-size: 20px; text-align: center;"
    >
        <p id="countdown_timer">Current Time Remaining: N/A Seconds</p>
        <p>Current Bid:</p>
        <span id="id_bid_price_display">100</span>
        <br />
        <!--    Bid Number    -->
        <input type="number" id="id_message_send_input" />
        <button type="submit" id="id_message_send_button">Bid</button>
        <br />
        <br />
        <span id="profits" title="Make sure to buy assets below your utility price to profit!">Total Profits Made: £0</span>
        <br />
        <span id="utility" title="The price you think the asset is worth to you, try and bid below this!">Current utility price for this asset: £0</span>
        <br />
        <span id="money_available" title="The current amount of money you have available to spend">Money Available: £0</span>
        <br />
        <br />
        <h4 style="padding-top: 1%; padding-bottom: 1%; margin-bottom: 0px;">Bid History</h4>
        <div id="bid_history" style="max-height: 400px; overflow-y: auto;"></div>
        <br />
        <button id="download_history">Download Auction History</button>
        <p id="users_connected">1 Connected User(s)</p>
        <br />
        <br />
        <h4>Auction Mechanical Description</h4>
        <p id="auction_description">
            This auction type involves many users bidding against one another at strictly increasing prices. <br/>

            Users may place a bid to purchase the asset being auctioned, if the timer at the top of the screen runs out, that user has won.<br/>

            Other users may at any time before the auction finishes, bid a number greater than the leading bid to become the leader.<br/>

            New bids reset the timer, so that last second bidding is discouraged.<br/>
            A user may not bid over themselves.
        </p>
    </div>
    <script>
      const room_id = window.location.pathname
      const sim_socket = new WebSocket("wss://" + window.location.host + "/ws" + room_id + (room_id.endsWith("/") ? "" : "/"));

      var auction_finished = false;
      var timer_interval_id = null;
      var max_time = null;
      var profit = 0;
      var utility_price = 0;
      var is_admin = false;  // Changing this just changes how your page looks, doesnt give you admin permissions, sorry

      function add_message_to_top(message) {
        // Get the message container
        const message_container = document.getElementById('bid_history');

        // Create a new div element for the message
        const new_message = document.createElement('div');
        new_message.textContent = message;

        // Insert the new message at the top
        message_container.insertBefore(new_message, message_container.firstChild);
      }

      function start_auction_timer(duration, display) {
         timer_interval_id = setInterval(
            function () {
                if (--duration + 1 > 0) {
                    display.textContent = "Current Time Remaining: " + duration + " Seconds";
                } else {
                    display.textContent = "Bidding Finished!";
                }
            },
            1000
        );
      };

      sim_socket.onopen = function (e) {
        console.log("Connection set up successfully!");
        sim_socket.send(JSON.stringify(
            {
                message: {
                    register_user: true,
                    window_search: window.location.search
                },
                username : "{{request.session.username}}"
            }
        ));
      };

      sim_socket.onclose = function (e) {
        console.log("Connection broken!");
      };

      document.querySelector("#id_message_send_input").focus();

      document.querySelector("#id_message_send_input").onkeyup = function (e) {
        if (e.keyCode == 13) {
          document.querySelector("#id_message_send_button").click();
        }
      };

      document.querySelector("#id_message_send_button").onclick = function (e) {
        var messageInput = document.querySelector(
          "#id_message_send_input"
        ).value;

        if (document.getElementById("countdown_timer").textContent == "Bidding Finished!") {
            // IF the browser thinks the countdown timer is finished then send off an "is finished" check to the server
            sim_socket.send(
                JSON.stringify(
                    {
                        message: {
                            end_auction: true
                        },
                        username : "{{request.session.username}}"
                    }
                )
            );
        } else {
            sim_socket.send(
                JSON.stringify(
                    {
                        message: {
                            update_auction: {method: "bid", price: messageInput}
                        },
                        username : "{{request.session.username}}"
                    }
                )
            );
        }

      };

      document.querySelector("#download_history").onclick = function (e) {
        sim_socket.send(
            JSON.stringify(
                {
                    message: {
                        download_history: true
                    },
                    username: "{{request.session.username}}"
                }
            )
        );
      };

      sim_socket.onmessage = function (e) {
        const data = JSON.parse(e.data);

        if (data.message.hasOwnProperty("set_admin") && data.message.set_admin == true) {
            // Change the webpage for auctions in which hte admin operates differently
            is_admin = true;
            var send_box = document.getElementById("id_message_send_input");
            var send_button = document.getElementById("id_message_send_button");
            var profit_display = document.getElementById("profits");
            var utility_display = document.getElementById("utility");
            var money_available_display = document.getElementById("money_available");
            profit_display.style.display = 'none';
            utility_display.style.display = 'none';
            money_available_display.style.display = 'none';
            send_box.style.display = 'none';
            send_button.style.display = 'none';
        }

        if (data.message.hasOwnProperty("price_update")) {
            var div = document.getElementById("id_bid_price_display");
            div.innerHTML = "£" + data.message.price_update;
            if (data.username == "{{request.session.username}}") {
                div.style.color = "green";
                div.title = "you are currently leading the bid!";
            } else {
                div.style.color = "black";
                div.title = data.username + " is currently leading the bid!";
            }

            if (timer_interval_id != null) {
                clearTimeout(timer_interval_id);
                start_auction_timer(
                    max_time,
                    document.getElementById("countdown_timer")
                );
            }

            // Update running log of bids
            add_message_to_top(data.username + " : £" + data.message.price_update);

            if (data.message.hasOwnProperty("profit_update")) {
                var profit_div = document.getElementById("profits");
                // Always sent out as a 2 by 2 array, one containing the auctioneer's profit and one containing the bidder's
                if (data.message.profit_update[0][1] == "{{request.session.username}}") {
                    profit_div.innerHTML = "Total Profits Made: £" + data.message.profit_update[0][0];
                } else if (data.message.profit_update[1][1] == "{{request.session.username}}") {
                    profit_div.innerHTML = "Total Profits Made: £" + data.message.profit_update[1][0];
                }

            }
        }

        if (data.message.hasOwnProperty("update_user_count")) {
            var user_counter = document.getElementById("users_connected");
            user_counter.innerHTML = data.message.update_user_count + " Connected User(s)";
        }

        if (data.message.hasOwnProperty("set_price")) {
            var div = document.getElementById("id_bid_price_display");
            div.innerHTML = "£" + data.message.set_price;
        }

        if (data.message.hasOwnProperty("limit_price") && data.username == "{{request.session.username}}") {
            var div = document.getElementById("utility");
            div.innerHTML = "Current utility price for this asset: £" + data.message.limit_price;
        }

        if (data.message.type == "auction_end") {
            // Display auction end screen
        }

        if (data.message.hasOwnProperty("download_history") && data.username == "{{request.session.username}}") {
            // https://stackoverflow.com/questions/3665115/how-to-create-a-file-in-memory-for-user-to-download-but-not-through-server
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(data.message.download_history));
            element.setAttribute('download', "auction_history.txt");

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }

        if (data.message.hasOwnProperty("money_available") && data.username == "{{request.session.username}}") {
            var money_div = document.getElementById("money_available");
            money_div.innerHTML = "Money Available: £" + data.message.money_available;
        }

        if (data.message.hasOwnProperty("countdown_timer") && timer_interval_id === null) {
            start_auction_timer(
                data.message.countdown_timer,
                document.getElementById("countdown_timer")
            );
        }

        if (data.message.hasOwnProperty("max_time") && max_time === null) {
            max_time = data.message.max_time;
        }



      };
    </script>
</body>
</html>